<h4>This Notebook will mainly Be used for capstone</h4>

In [50]:
import pandas as pd
import numpy as np

In [28]:
import requests
from bs4 import BeautifulSoup
from pandas.io.json import json_normalize

url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

data=requests.get(url).text

In [29]:
bs=BeautifulSoup(data,'lxml')

In [52]:
df=pd.DataFrame(columns=['Postal code','Borough','Neighbourhood'])

In [122]:
for items in bs.find('tbody').find_all('tr'):
    data=items.find_all_next('td')
    pc=data[0].text.replace('\n','')
    br=data[1].text.replace('\n','')
    nbh=data[2].text.replace('\n','')
    df=df.append({'Postal code':pc,'Borough':br,'Neighbourhood':nbh},ignore_index=True)

In [123]:

# df.drop(df.index[range(len(df))],inplace=True)
df.head()

  Postal code       Borough     Neighbourhood
0         M1A  Not assigned      Not assigned
1         M1A  Not assigned      Not assigned
2         M2A  Not assigned      Not assigned
3         M3A    North York         Parkwoods
4         M4A    North York  Victoria Village

In [124]:
df.shape

(181, 3)

In [129]:
df[['Borough','Neighbourhood']].value_counts()

Borough          Neighbourhood
Not assigned     Not assigned                       78
North York       Downsview                           4
                 Don Mills                           2
York             Weston                              1
East York        Parkview Hill, Woodbine Gardens     1
                                                    ..
North York       Willowdale, Willowdale West         1
                 York Mills West                     1
                 York Mills, Silver Hills            1
Scarborough      Agincourt                           1
Central Toronto  Davisville                          1
Length: 100, dtype: int64


<h4>78 values are not assigned any borough and neighbourhhoood they are need to be evaluated and assigned the new values</h4>

In [147]:
# !pip install geocoder
import geocoder # import geocoder

# initialize your variable to None
lat_lng_coords = None

# loop until you get the coordinates
# while(lat_lng_coords is None):
g = geocoder.google('{}'.format("M5A"))
lat_lng_coords = g.latlng

print(g.latlng)

# latitude = lat_lng_coords[0]
# longitude = lat_lng_coords[1]

None

In [149]:
geo=pd.read_csv('D:\MY EXCEL DATA\ibm Data Science\Geospatial_coordinates.csv')
geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [161]:
longlat=pd.merge(df,geo,on='Postal code',how='left').dropna(axis=0)
# geo.rename(columns={'Postal Code':'Postal code'},inplace=True)

In [172]:
longlat.reset_index(drop=True,inplace=True)

In [173]:
longlat.head(20)

   Postal code           Borough  ...   Latitude  Longitude
0          M3A        North York  ...  43.753259 -79.329656
1          M4A        North York  ...  43.725882 -79.315572
2          M5A  Downtown Toronto  ...  43.654260 -79.360636
3          M6A        North York  ...  43.718518 -79.464763
4          M7A  Downtown Toronto  ...  43.662301 -79.389494
5          M9A         Etobicoke  ...  43.667856 -79.532242
6          M1B       Scarborough  ...  43.806686 -79.194353
7          M3B        North York  ...  43.745906 -79.352188
8          M4B         East York  ...  43.706397 -79.309937
9          M5B  Downtown Toronto  ...  43.657162 -79.378937
10         M6B        North York  ...  43.709577 -79.445073
11         M9B         Etobicoke  ...  43.650943 -79.554724
12         M1C       Scarborough  ...  43.784535 -79.160497
13         M3C        North York  ...  43.725900 -79.340923
14         M4C         East York  ...  43.695344 -79.318389
15         M5C  Downtown Toronto  ...  43.651494 -79.375418
16         M6C              York  ...  43.693781 -79.428191
17         M9C         Etobicoke  ...  43.643515 -79.577201
18         M1E       Scarborough  ...  43.763573 -79.188711
19         M4E      East Toronto  ...  43.676357 -79.293031

[20 rows x 5 columns]